@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  margin: 0;
  background-color: #6b3f69;
  font-family: Georgia, serif;
}

.site {
  width: 900px;
  margin: 0 auto;
  font-family: "Patrick Hand", sans-serif;
}

/* ---------- NAVBAR ---------- */

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: #a376a2;
  border: 5px solid #8d5f8c;
}

#title {
  font-size: 32px;
  font-family: "Patrick Hand", serif;
}

#welcome {
  margin: 0;
  color: #6b3f69;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: underline;
}

/* ---------- LATEST DATE ---------- */

.latest-date {
  padding: 25px;

  background-color: #a376a2;
  border: 5px solid #8d5f8c;
}

#latest-date-img {
  width: 300px;
  height: 200px;
  margin-left: -200px;
  margin-right: 50px;
}

#date-title {
  text-align: center;
  font-family: "Patrick Hand", serif;
}

.date-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.date-details {
  font-size: 18px;
  color:bisque
}

.date-description {
  margin-top: 25px;
  color:bisque
}

.date-photos {
  margin-top: 25px;
  color:bisque
}