@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  margin: 0;
  background-color: #6b3f69;
  font-family: Georgia, serif;
}

.site {
  width: 900px;
  margin: 0 auto;
  font-family: "Patrick Hand", sans-serif;
}

